:root {
  /* COLOR */
  --White: hsl(0, 0%, 100%);
  --softRed: hsl(345, 95%, 68%);
  --grayBlue: hsl(237, 18%, 59%);
  --desatBlue: hsl(236, 21%, 26%);
  --darkblue: hsl(235, 16%, 14%);
  --blueBlack: hsl(234, 17%, 12%);

  /* WEIGHTS */
  --reg: 400;
  --bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;

  outline: 1px solid red;
}

body {
  margin: 0;
  font-family: "Red Hat Text", sans-serif;
}
